/*Head*/

  @media (min-width: 320px) {
    .header h2 {
      padding-bottom: 25px;
    }
    .header h3 {
      text-align: center;
      font-weight: 400;
      padding-bottom: 20px;
    }
    .btn:hover{
      color:#dc9797;
      background: #876666;
    }
    .btn {
      color: white;
      transition-duration: 0.4s;
      display: inline-block;
      background: #444444;
      padding: 10px 16px;
      border-radius: 10px;
      margin-bottom: 20px;
      font-weight: 500;
    }
    .header .button{
      text-align: center;
    }
    .pic {
      margin-bottom: 40px;
    }
  }

  @media (min-width: 768px) {
    .pic {
      margin: auto 40px;
    }
  }

  @media (min-width: 990px) {
    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
      align-items: center;
    }
    .pic {
      margin: 20px 20px;
      
    }
  }

  @media (min-width: 1200px) {
    
  } 

  
  /**/

  /*Main*/

  @media (min-width: 320px) {
    .main h2 {
      padding-bottom: 25px;
    }
    .main h3 {
      text-align: center;
      font-weight: 400;
      padding-bottom: 20px;
    }
  }
  
  @media (min-width: 770px) {
    
  }
  
  @media (min-width: 990px) {
    
  }
  
  @media (min-width: 1200px) {
    
  } 

  /**/